* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul: #191846;
  --azul-claro: #3b82f6;
  --verdefondo: #04434e;
  --texto: #fff;
  --verdoso: #34d399;
  --rojo: #ff5252;
  --amarillo: rgb(251 191 36);
}

body {
  background: 
  radial-gradient(ellipse 80% 60% at 60% 20%, rgba(80, 140, 255, 0.3), transparent 65%),
  radial-gradient(ellipse 70% 60% at 20% 80%, rgba(12, 115, 170, 0.40), transparent 65%),
  radial-gradient(ellipse 60% 50% at 60% 65%, rgba(160, 120, 255, 0.28), transparent 62%),
  radial-gradient(ellipse 65% 40% at 50% 60%, rgba(80, 255, 220, 0.25), transparent 68%),
  linear-gradient(140deg, var(--azul)  20%, var(--verdefondo)  100%);
  min-height: 100dvh;
  font-family: ui-sans-serif, system-ui, sans-serif;
  display: flex;
}

.container {
  width: 23dvw;
  margin: 1rem auto;
  background-color: #fff1;
  backdrop-filter: blur(5px);
  border-radius: 0.5rem;
  border: 1.5px solid #fff3;
  box-shadow: 3px 3px 10px 3px #0004; 
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media (width <= 768px){
    width: 100%;
    margin: 1.5rem;
  }
}

.header-container{
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--texto);
  border-bottom: thin solid #fff2;
  box-shadow: 0 0 5px 2px #fff3;

  & > h1 {
    text-wrap: balance;
    text-align: center;
  }

  & > button {
    display: flex;
    align-items: center;
    padding: 0.3rem;
    border-radius: 0.3rem;
    border: 1px solid #fff3;
    box-shadow: 2px 2px 3px 2px #0002;
    cursor: pointer;
    background-color: #fff2;
    transition:  transform 0.1s ease;

    &:active {
      transform: scale(0.9);
    }
  }
}

.timer-display {
  display: flex;
  flex-direction: column;

  & .clock {
    position: relative;
    padding: 1rem;

    & > svg {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      transform: rotate(-90deg);
    }

    #aumCirculo {
      transition: stroke-dashoffset 0.3s linear;
    }

    & > .timer {
      position: absolute;
      inset: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;
    
      & > #mode {
        font-size: 1.2rem;
        color: var(--verdoso);
        text-transform: uppercase;
      }

      & > #countdown {
        color: var(--texto);
        font-size: 4.5rem;
        font-weight: bold;
        font-family: monospace;

        @media ( width <= 768px ){
          font-size: 4rem;
        }
      }
      
    }
  }

  & > .rounds{
    padding: 0.8rem;
    border: 1.5px solid #fff3;
    width: max-content;
    margin-inline: auto;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 8px 6px #0002;
    color: var(--texto);
    text-align: center;
    backdrop-filter: blur(5px);

    & > #round  {
      font-weight: bolder;
      font-size: 2.2rem;

      @media (width <= 768px){
        font-size: 1.8rem;
      }
    }

    & > #next-mode {
      opacity: 0.8;
      font-size: 1.1rem;

      @media (width <= 768px){
        font-size: 1rem;
      }
    }
  }

  #config-timer {
    background-color: #0007;
    width: 30%;
    margin: auto;
    padding: 2rem;
    border-radius: 0.5rem;
    color: var(--texto);
    border: 1px solid #fff4;
    box-shadow: 5px 5px 15px 8px #0005;
    backdrop-filter: blur(5px);

    &::backdrop {
      background-color: #0006;
    }

    & > .formulario {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      &> h2 {
         
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

      }

      .input-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3rem;
      }

      input[type="number"]{
        border: 0;
        padding: 0.3rem;
        border-radius: 0.3rem;
        text-align: center;
        width: 50%;
        
        &:focus{
          outline: 2px solid var(--azul-claro);
        }
      }
    }

    & > .btn-form{
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 1rem;

      @media(width <= 768px){
         
        flex-direction: column;
        gap: 0.8rem;
      }

      & button {
        background-color: #fff4;
        border: 1px solid #fff2;
        padding: 0.5rem 2rem;
        border-radius: 0.3rem;
        cursor: pointer;
        color: var(--texto);
        transition: all 0.2s ease;

        &:hover {
          transform: scale(1.1);
        }
      }

      & .btn-azul {
        background-color: var(--azul-claro);
      }
    }

    @media ( width <= 768px) {
      margin: 0.5rem auto;
      width: 90%;
      height: auto;
    }
  } 
}

.controls {
  margin-top: auto;
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Utilidades */
.btn {
  padding: 1rem;
  background-color: transparent;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  opacity: 0.9;

  & > img {
    width: 1.5rem;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.9);
  }
}

.btn-red {
  background-color: var(--rojo);
}

.btn-green {
  background-color: var(--verdoso);
  opacity: 0.8;

  &:hover{
    opacity: 1;
  }
}

.btn-blue {
  background-color: var(--azul-claro);
  opacity: 0.8;

  &:hover{
    opacity: 1;
  }
}