* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul-oscuro: #002150;
  --azul-claro: #00409a;
  --texto: #fff;
  --cyan-hard: #00bcd4;
  --verdoso: #34d399;
  --rojo: #ff5252;
  --rojo-hover: #d32f2f;
}

body {
  background: 
  radial-gradient(ellipse 80% 60% at 60% 20%, rgba(80, 140, 255, 0.35), transparent 65%),
  radial-gradient(ellipse 70% 60% at 20% 80%, rgba(12, 115, 170, 0.604), transparent 65%),
  radial-gradient(ellipse 60% 50% at 60% 65%, rgba(160, 120, 255, 0.28), transparent 62%),
  radial-gradient(ellipse 65% 40% at 50% 60%, rgba(80, 255, 220, 0.25), transparent 68%),
  linear-gradient(140deg, #312e81  20%,#581c87  100%);
  min-height: 100dvh;
  font-family: ui-sans-serif, system-ui, sans-serif;
  display: flex;
}

.container {
  width: 23dvw;
  margin: 1rem auto;
  background-color: #fff1;
  backdrop-filter: blur(5px);
  border-radius: 0.5rem;
  border: 1px solid #fff3;
  box-shadow: 3px 3px 10px 3px #0004; 
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media (width <= 768px){
    width: 100%;
    margin: 1.5rem;
  }
}

.header-container{
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--texto);
  border-bottom: thin solid #fff2;
  box-shadow: 0 0 5px 2px #fff3;

  & > h1 {
    text-wrap: balance;
    text-align: center;
  }
}

.timer-display{
  display: flex;
  flex-direction: column;

  & .clock {
    position: relative;
    padding: 1rem;

    & > svg {
      width: 100%;
      height: 100%;
      transform: rotate(-90deg);
    }

    & > .timer {
      position: absolute;
      inset: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;
    
      & > h2 {
        font-size: 2rem;
        color: var(--verdoso);
      }

      & > p {
        color: var(--texto);
        font-size: 4rem;
        font-weight: bold;
        font-family: monospace;
      }
      
    }
  }

  & > .legend{
    padding: 0;

  }

  /* & > .config{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    min-width: 80%;
    gap: 1.5rem;

    & > label {
      display: flex;
      flex-direction: column;

      & > input {
        width: 100%;
      }
    }
  } */

   
}

.controls {
  margin-top: auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Utilidades */
.btn {
  padding: 0.5rem;
  background-color: transparent;
  border: 0;
  border-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  opacity: 0.9;

  & > img {
    width: 1.5rem;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.05);
  }
}

.btn-red {
  background-color: var(--rojo);
}

.btn-glass {
  background-color: #fff2;
}

.btn-green {
  background-color: rgb(2, 183, 2);
}

.btn-yellow {
  background-color: rgb(236, 208, 50);
}