* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul-oscuro: #002150;
  --azul-claro: #00409a;
  --texto: #fff;
  --cyan-hard: #00bcd4;
  --rojo: #ff5252;
  --rojo-hover: #d32f2f;
}

body {
  background: linear-gradient(140deg, var(--azul-oscuro), var(--azul-claro));
  min-height: 100dvh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
}

.container {
  box-sizing: border-box;
  max-width: calc(100dvw / 3);
  margin: 1rem auto;
  background-color: #fff1;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 10px 3px #0003; 
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media (width <= 768px){
    max-width: 100%;
    margin: 2rem;
  }
}

.header-container{
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--texto);
  border-bottom: thin solid #fff2;
  box-shadow: 0 0 5px 2px #fff3;

  & > h1 {
    text-wrap: balance;
    text-align: center;
  }
}

.form{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--texto);

  & > .config{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    min-width: 80%;
    gap: 1.5rem;

    & > label {
      display: flex;
      flex-direction: column;

      & > input {
        width: 100%;
      }
    }
  }

  & > .timer{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > #mode {
      font-size: 3rem;
      opacity: 0.8;

      @media ( width <= 768px){
        font-size: 2rem;
      }
    }

    & > #countdown {
      font-size: 8rem;

      @media ( width <= 768px){
        font-size: 6rem;
      }
    }
  }
}

.controls {
  margin-top: auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Utilidades */
.btn {
  padding: 0.5rem;
  background-color: transparent;
  border: 0;
  border-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  opacity: 0.9;

  & > img {
    width: 1.5rem;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.05);
  }
}

.btn-red {
  background-color: var(--rojo);
}

.btn-glass {
  background-color: #fff2;
}

.btn-green {
  background-color: rgb(2, 183, 2);
}

.btn-yellow {
  background-color: rgb(236, 208, 50);
}